<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg w-50">
    <h2 class="text-center mb-4">Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter your email"
         
        />
       
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">
        Submit
      </button>
    </form>
    <div *ngIf="message" class="mt-3 text-center text-success">
      <h3>{{ message }}</h3>
    </div>
  </div>
</div>
