<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand">Yeswanth</span>

      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="dropdownMenuButton"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        <img
        [src]="profilePicUrl"
        alt="Profile Picture"
        class="rounded-circle mr-2"
      />
          {{ username || 'Username' }}
          <i class="ml-2 fa fa-chevron-down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" (click)="updateProfilePic()">Update Profile Picture</a>
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>


  <div
    class="modal fade"
    id="updateProfilePicModal"
    tabindex="-1"
    aria-labelledby="updateProfilePicModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateProfilePicModalLabel">
            Update Profile Picture
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            (click)="closeModal()"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (submit)="uploadProfilePic($event)">
            <div class="mb-3">
              <label for="profilePic" class="form-label">Select a picture (JPG or PNG):</label>
              <input
                type="file"
                id="profilePic"
                class="form-control"
                (change)="onFileSelected($event)"
                accept=".jpg, .jpeg, .png"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
