<div class="container mt-4">

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>File_name</th>
            <th>File</th>
            <th>Invalid Records</th>
            <th>Status</th>
            <th>Correct records</th>
            <th>Wrong records</th>
            <th>manual check</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of imports">

            <td>{{ record.id }}</td>
            <td>{{record.file_name}}</td>
            <td>
              <a [href]="record.file_path" target="_blank" class="btn btn-primary btn-sm">
                <i class="bi bi-download"></i> Download File
              </a>
            </td>
            <td>
              <ng-container *ngIf="record.wrong_path; else noInvalidRecords">
                <a [href]="record.wrong_path" target="_blank" class="btn btn-danger btn-sm">
                  <i class="bi bi-exclamation-triangle"></i> Invalid Records
                </a>
              </ng-container>
              <ng-template #noInvalidRecords>
                <p class="text-muted">No Invalid Records</p>
              </ng-template>
            </td>
            <td>
              <span [ngClass]="{'badge bg-success': record.status === 1, 'badge bg-warning': record.status === 0}">
                {{ record.status === 1 ? 'Completed' : 'Pending' }}
              </span>
            </td>
            <td>
              {{ record.correct === null ? 'Pending' : record.correct }}
            </td>
            <td>
              {{ record.incorrect === null ? 'Pending' : record.incorrect }}
            </td>
             <td>
              <button *ngIf="record.status === 0" (click)="onManualCheck(record.id)">Manual Check</button>


             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  